EXPO_PUBLIC_API_URL=https://dominuspainel.discloud.app
EXPO_PUBLIC_DISCORD_CLIENT_ID=
EXPO_PUBLIC_DISCORD_REDIRECT_URI=dominusapp://auth/callback
EXPO_PUBLIC_BOT_INVITE_URL=https://discord.com/oauth2/authorize?client_id=1356446229550071979&scope=bot%20applications.commands&permissions=8
